.info{ font-size:140%; }

.container {
  display: inline-block;
  position: relative;
}

.index {
  cursor: pointer;
  padding: 5%;
  font-size : 150%;
  user-select: none;
  -moz-user-select: none;
}

svg {
  top : 0;
  left:45%;
  position:absolute;
  transition: transform 500ms;
  width: 10%;
}

path {
  fill:none;
  stroke:#2FB468;
  stroke-dasharray: 150 150;
  stroke-width:15;
}

.container.open:not(.flip) path {
  animation: OpenUnder 500ms;
}

.container.open.flip path {
  animation: OpenUp 500ms;
}

.container.i1 svg {
  transform: translateY(30%);
}

.container.i2 svg {
  transform: translateY(205%);
}

.container.i3 svg {
  transform: translateY(383%);
}

.container.i4 svg {
  transform: translateY(550%);
}

.container.i5 svg {
  transform: translateY(730%);
}

@keyframes OpenUnder {
  25% { stroke-dasharray: 100 150; }
  60% { stroke-dasharray: 100 150; }
  100% { stroke-dasharray: 150 150; }
}

@keyframes OpenUp {
  25% { stroke-dashoffset: -50px; }
  60% { stroke-dashoffset: -50px; }
  100% { stroke-dashoffset: 0; }
}