.navbar {
  background-color: #ffffff;
  height:70px;
}
 .nav-item{
   padding-inline:25px;
   padding-block:15px;
   cursor:pointer;
   font-size:20px;
   border-left: 2px solid #c0c0c0;
 }
 .nav-item:first-child{
    border-left:none;
 }
 .nav-item a{
   color:black;
   text-transform:uppercase;
   text-align:center;
   text-decoration:none;
 }  
 .nav-item a:hover{
   color:#91BC54
 }