
  nav{
    float:right;
    position:realtive;
  }

 .nav-container{
   display:flex;
   flex-direction:row;
   width:100%;
   margin-right: 3% 5% 0 0;
   margin-block: 3%;
   line-height:3%;
   list-style-type:none;
 }

 .nav-item{
   padding-inline:25px;
   padding-block:20px;
   cursor:pointer;
   font-size:150%;
   border-left: 3px solid #979797;
 }

 .nav-item:first-child{ border-left:none; }
 
 .nav-item:hover{ color:#91BC54 }