p, th, td{
    font-size: 130%;
}

.frame{
    width : 90%;
    height: auto;
    margin: 0 auto;
    border : 2px #e0e0e0 solid;
    box-shadow : 3px 3px 3px #979797;
    position: relative;
}

.frame>*{
    text-align: left;
    margin-top : 2%;
    margin-inline:3%;
}

dd, dt{
    display:inline;
    font-size: 130%;
}

dd{
    margin-right:3%;
}

dt:hover{
    text-decoration: underline;
}