p, th, td{
    font-size: 130%;
}

.frame{
    width : 90%;
    height: auto;
    margin: 0 auto;
    border : 2px #e0e0e0 solid;
    box-shadow : 3px 3px 3px #979797;
    position: relative;
}

.frame>*{
    text-align: left;
    margin-top : 3%;
    margin-inline:3%;
}
