  .body
  {
      width:100%
  }
  
  .receipt_table
  {
    margin-left: auto; 
    margin-right: auto;
    width:60%;
  }

  .table-title
  {
    border-top:1px solid rgb(224 224 224);
    font-size:13px;
    table-layout:fixed;
    word-break:break-all;
    height:40px;
    text-align:left;
  }

  .product-price{
      padding-top: 10px;
      font-size:18px;
      font-weight:bold;
      text-align:right;
  }

  .shop-name
  {
    font-size:35px;
    font-weight:bold;
    text-align:center;
    padding-bottom: 15px;
  }

  .table-content{
      font-size:20px;
      border-bottom:1px solid rgb(224 224 224);
      table-layout:fixed;
      word-break:break-all;
      height:70px;
      text-align:left;
  }

  .btn
  {
      background: rgb(22 83 76)!important;
      color: white !important;
      border-radius: 25% !important;
      
  }
  
  .btn:hover
  {
      background:#91BC54 !important;
      
  }

  .table-list{
      background: gray;
  }

  .date-yymm
  {
    text-align:center;
    width:150px;
    height:150px;
    border-radius :50%;
    background:#91BC54;
    margin:0 auto;
    vertical-align:middle;
    line-height:70px;
    margin-top:70px;
    color:white;
    float:right;
    padding-top:30px;
  }

  .date-dd
  {
    list-style:none;
    margin-top:30px;
    padding-top:5%;
    width:77%;
    display:inline-flex;
    justify-content: space-between;
    float:left;
  }

  .date-dd > li
  {
    display: block;
    font-size:50px;
    color:#c0c0c0;
  }

  .today
  {
      color: black !important;
  }

  .row
  {
    display:inline-block;
  }